.tabs .tab-item .icon.accidente {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/accidente.png');
  background-size:contain;
}

.tabs .tab-item .icon.animales {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/animales.png');
  background-size:contain;
}

.tabs .tab-item .icon.avatarRojo {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/personarojo.png');
  background-size:contain;
}
.userRojo{
  content: url('../img/User-red.png');
}

.sosPng{
  content: url('../img/sos.png');
  width:250px;
}

.letraRoja{
  color: #bf2d26;
}

.centrar{
   margin-top: 30%;
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 50%;
}

.vaca{
  content: url('../img/vaca.png');
  height: 40px;
  width: 40px:;
}

.caballo{
  content: url('../img/caballo.png');
  height: 40px;
  width: 40px:;
}