.tabs .tab-item .icon.accidente {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/accidente.png');
  background-size:contain;
}

.tabs .tab-item .icon.animales {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/animales.png');
  background-size:contain;
}

.tabs .tab-item .icon.avatarRojo {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/personarojo.png');
  background-size:contain;
}
.userRojo{
  content: url('../img/User-red.png');
}

.sosPng{
  content: url('../img/sos.png');
  width:250px;
}

.letraRoja{
  color: #bf2d26;
}

.centrar{
   margin-top: 30%;
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 50%;
}

.vaca{
  content: url('../img/vaca.png');
  height: 40px;
  width: 40px;
}

.caballo{
  content: url('../img/caballo.png');
  height: 40px;
  width: 40px
}

.octocat{
  content: url('../img/octocat.svg');
  height: 40px;
  width: 40px
}

.botonAnimal{
  content: url('../img/boton.png');
  width:300px;
  margin-top: 25%;
  margin-left: 10%;
}

.spinner svg{
  position: absolute;
  width: 150px;
  height: 150px;
  top: 25%;
  left: 25%;
  z-index: 2;
}
.loader{
  background-image: url('../img/sirena.gif');
  width: 120px;
    height: 150px;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    left:35%;
    top:35%;
}