.tabs .tab-item .icon.accidente {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/accidente.png');
  background-size:contain;
}

.tabs .tab-item .icon.animales {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/animales.png');
  background-size:contain;
}

.tabs .tab-item .icon.avatarRojo {
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('../img/personarojo.png');
  background-size:contain;
}
.userRojo{
  content: url('../img/User-red.png');
}

.sosPng{
  content: url('../img/sos.png');
  width:250px;
}

.letraRoja{
  color: #bf2d26;
}

.centrar{
   margin-top: 50%;
}