<ion-view view-title="Realizar Reclamo">
  <ion-content class="centrar">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Tipo de Accidente
        </div>
        <select ng-model="accidente.tipo">
          <option selected >Accidente</option>
          <option>Averia de Vehiculo</option>
        </select>
      </label>

    </div>
  <button ng-click="CargarAccidente()" class="button button-full button-outline button-assertive">
   Reportar Accidente</button><br>
  </ion-content>
</ion-view>