<ion-view view-title="crearusuario">
  <ion-content class="padding">
    <div class="list">
       <label class="item item-input item-stacked-label">
          <span class="input-label" >Email</span>
          <input type="email" placeholder="john@suhr.com" id="email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Contrasena</span>
          <input type="password" placeholder="john1234" id="contrasena">
        </label>
      	<label class="item item-input item-stacked-label">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="john" id="nombre">
        </label>
         <label class="item item-input item-stacked-label">
          <span class="input-label">Apellido</span>
          <input type="text" placeholder="apollo" id="apellido">
        </label>
         <label class="item item-input item-stacked-label">
          <span class="input-label">Telefono</span>
          <input type="number" placeholder="1231232" id="telefono">
        </label>
  </div>
  <br>
    <div class="bar bar-footer">
        <button class="botoncrear" ng-click="guardardatos()">
		 Guardar
		</button>
  </div>
  </ion-content>
</ion-view>
