<ion-view view-title="Mapa de animales Sueltos">
  <ion-content>
  <div class="loader"></div>
  	<div id="map" data-tap-disabled="true"></div>
  	<div class="list" style="display:none;" id="animalSuelto">
  		<a class="item item-thumbnail-left" style="padding-top:8%;" href="tel:911">
	  		<img class="vaca">
	  		<h2>CUIDADO!!! Vaca suelta</h2>
	  		<p>Llame al 0800-animales</p>
  		</a>
  	</div>
  	<div class="list" style="display:none;" id="animalSuelto2">
  		<a class="item item-thumbnail-left" style="padding-top:8%;" href="tel:911">
	  		<img class="caballo">
	  		<h2>CUIDADO!!! Caballo suelto</h2>
	  		<p>Llame al 0800-animales</p>
  		</a>
  	</div>
    <div class="list" style="display:none;" id="animalGenerico">
      <a class="item item-thumbnail-left" style="padding-top:8%;" href="tel:911">
        <img class="octocat">
        <h2>CUIDADO!!! Animal suelto</h2>
        <p>Llame al 0800-animales</p>
      </a>
    </div>
  </ion-content>
</ion-view>