<html ng-app="miModulo">
<ion-view view-title="Animales Sueltos">
  <ion-content>
  	<div id="map" data-tap-disabled="true"></div>
  	<div class="list" style="display:none;" id="animalSuelto">
  		<a class="item item-thumbnail-left" style="padding-top:8%;" href="tel:080054541541">
	  		<img class="vaca">
	  		<h2>CUIDADO!!! Vaca suelta</h2>
	  		<p>Llame al 0800-animales</p>
  		</a>
  	</div>
  	<div class="list" style="display:none;" id="animalSuelto2">
  		<a class="item item-thumbnail-left" style="padding-top:8%;" href="tel:080054541541">
	  		<img class="caballo">
	  		<h2>CUIDADO!!! Caballo suelto</h2>
	  		<p>Llame al 0800-animales</p>
  		</a>
  	</div>
  </ion-content>
</ion-view>
</html>
