<ion-view view-title="Accidentes">
  <ion-content class="centrar">

	<button ng-click="irReporte()" class="button  button-full button-outline button-assertive">
    Relizar Reclamo</button><br>
	<button href="#/tab/accidentes" class="button button-full button-outline button-calm">
	Ver Reclamo</button><br>
	<button class="button button-full button-outline button-balanced">
	 Calificar Servicio</button><br>
	<button class="button button-full button-outline button-energized">
	 Solicitar Ayuda</button><br>


	    
  </ion-content>
</ion-view>