<ion-view view-title="Login">
  <ion-content padding>


        <div class="userRojo"></div>
        <div class="sosPng"></div>
       <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label" >Email</span>
            <input type="text" placeholder="john@suhr.com" id="email">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Contrasena</span>
            <input type="password" placeholder="****" id="contrasena">
          </label>

    </div>
    <br>
  
 
        <button class="boton" ng-click="login()">
     Aceptar
    </button>
  <a class="registrarse"   href ng-click="registrarse()">Registrarse</a>
  
  </ion-content>
</ion-view>
