<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

  <ion-tab title="Login" icon-off="avatarRojo" icon-on="avatarRojo" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Accidentes" icon-off="accidente" icon-on="accidente" href="#/tab/accidentes" disabled="!getLogueado()">
    <ion-nav-view name="tab-accidentes"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Animales sueltos" icon-off="animales" icon-on="animales" href="#/tab/animalesSueltos" disabled="!getLogueado()">
    <ion-nav-view name="tab-animalesSueltos"></ion-nav-view>
  </ion-tab>


</ion-tabs>
